.cardTop {
    width: 10vh;
    height: 40vw;
    object-fit: cover;
    display:flex;
}
.card {
    width: 70%;
    height: 10vw;
    object-fit: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* .App {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */

.bio {
    display:flex;
    justify-content: center;
    align-items: center;
}