


.modalButton {
  padding: 8px 20px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.modalButton:hover {
  background-color: rgb(255, 243, 243);
  color: black;
}

.modalButton:active {
  background-color: black;
  color: rgb(255, 243, 243);
}
