.modalButton2 {
  padding: 8px 20px;
  margin-top: 20px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.modalButton2:hover {
  background-color: rgb(255, 243, 243);
  color: black;
}

.modalButton2:active {
  background-color: black;
  color: rgb(255, 243, 243);
}

.alert{
  margin: 10px;
  opacity: 100%;
  text-align: center;
  height: 4vw;
  width: 20vw;
  font-size: 20px;
}
