body{ 
  margin: auto;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 7rem;
}
.container2 {
  display:flex
}
.popoverShowed {
  display: flex;
  padding-top: 7rem;
}
.card {
  display:grid;
  min-width: 50rem;
  position: relative;
}
.carddd card {
  min-width: 400px;
  padding-bottom: 100px;
}
.card-img-top {
  min-width: 400px;
  display: grid;
  position: relative;
}
.button1 btn btn-primary {
  position: relative;
}

.container .drop {
  position: relative;
  width: 500px;
  height: 500px;
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 
  25px 35px 20px rgba(0,0,0,0.05),
  25px 30px 30px rgba(0,0,0,0.05),
  inset -20px -20px 25px rgba(255,255,255,0.9);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 78% 22% 71% 29% / 36% 33% 67% 64% ; 
  padding-top: 2rem;
}

.container .drop:hover {
  border-radius: 70%;

}

.container .drop .content{
  position: relative;
  display: flex;
  justify-content: center;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.imgCard {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 17vw;
  padding-left: 10vw;
  padding-bottom: 50vw;
  padding-right: 10vw;
  flex-wrap: wrap;

}
