.hamburger {
  margin-left: 2rem;
  margin-top: 1rem;
}
.navbar-toggler-icon {
  font-size: 3rem;
}

.navbar-nav {
  position: absolute;
  margin-left: 2.5rem;
  font-size: larger;
  font-weight: bolder;
}
