 body {
  border-radius: 2rem;
  text-align: center;
 }
 .logButton {
 padding-right: 38vw;

}

.navbar-toggler-icon {
  padding-left: 2vw;
  font-size: 3vw;
  background: none;
  color: black;
}
.navbar-nav {
  font-size: larger;
}
 .menu {
  padding-left: 50vw;
  padding-right: 4vw;
  padding-top: 1vw;
  font-weight: bolder;
  background: none;
  width: 112rem;
  border-radius: 10px;
} 
