.logo {
  top: -60px;
  width: 23rem;
  height: 5.2rem;
  position: relative;

}

.buttonGen {
  padding: 2vw;
  text-align: center;
  display: flex;
  border-radius: 70%;
}

.imgGenerator {
  width: 220px;
  height: 50px;
  color: rgb(255, 255, 255);
  border: none;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  border-radius: 30px;
  font-weight: bolder;
}



.OpenImg-Prompt {

  height: 5px;
  width: 30%;
  bottom: 5%;
}


#requiredPopover {
  background-color: rgba(255, 255, 255, 0.5);
  /* background:none; */
  backdrop-filter: blur(5px);
}
.requiredPopover{
  margin-top: 70px;
  position: absolute;
}
.popover-arrow::before {
  background: none;
  color: none;
}
.popover-arrow::after {
  background: none;
  color: none;
}
.popover-arrow {
  color:black;
}
#requiredPopoverHeader {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}



#flaggedPopover {
  background-color: rgba(255, 255, 255, 0.5);
  /* background:none; */
  backdrop-filter: blur(5px);
}
.flaggedPopover{
  margin-top: 70px;
  position: absolute;
}
.popover-arrow::before {
  background: none;
  color: none;
}
.popover-arrow::after {
  background: none;
  color: none;
}
.popover-arrow {
  color:black;
}
#flaggedPopoverHeader {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}