.logo {
  top: -60px;
  width: 23rem;
  height: 5.2rem;
  position: relative;

}

.buttonGen {
  padding-top: 2vw;
}
.imgGenerator {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}



.OpenImg-Prompt {

  height: 5px;
  width: 30%;
  bottom: 5%;
}


.mainPrompt {
  padding-top: 2vw;
  width: 20rem;
}
