@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  background: no-repeat fixed center
    linear-gradient(rgb(183, 255, 0), rgb(255, 0, 251));
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}
body::before {
  margin: auto;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 140%;
  background: linear-gradient(rgb(0, 255, 213), rgb(255, 0, 251));
  transition: 0.3s;
  clip-path: circle(50% at 1% 1%);
}

body::after {
  margin: auto;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 190%;
  transition: 0.5s;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 251));
  clip-path: circle(27% at 100%);
}

h1 {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 5%;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(252, 252, 252);
  transition: 0.3s;
}

h3:hover {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.loginButton {
  margin-top: 1rem;
  margin-right: 2rem;
}

.logo {
  top: -60px;
  width: 23rem;
  height: 5.2rem;
  position: relative;
}

.buttonGen {
  padding-top: 2vw;
}
.imgGenerator {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.OpenImg-Prompt {
  height: 5px;
  width: 30%;
  bottom: 5%;
}

#requiredPopover {
  background-color: rgba(255, 255, 255, 0.5);
  /* background:none; */
  backdrop-filter: blur(5px);
}
.requiredPopover {
  margin-top: 70px;
  position: absolute;
}
.popover-arrow::before {
  background: none;
  color: none;
}
.popover-arrow::after {
  background: none;
  color: none;
}
.popover-arrow {
  color: black;
}
#requiredPopoverHeader {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#flaggedPopover {
  background-color: rgba(255, 255, 255, 0.5);
  /* background:none; */
  backdrop-filter: blur(5px);
}
.flaggedPopover {
  margin-top: 70px;
  position: absolute;
}
.popover-arrow::before {
  background: none;
  color: none;
}
.popover-arrow::after {
  background: none;
  color: none;
}
.popover-arrow {
  color: black;
}
#flaggedPopoverHeader {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.input {
  display: block;
}

.alert {
  margin: 10px;
  opacity: 100%;
  text-align: center;
  height: 7vw;
  width: 20vw;
  font-size: 20px;
}

.badWord {
  background: none;
  color: black;
  background: blue;
  backdrop-filter: blur(5px);
}

.bad {
  font-weight: 200;
  font-size: 20px;
  font-size: 1vw;
}
.hamburger {
  margin-left: 2rem;
  margin-top: 1rem;
}
.navbar-toggler-icon {
  font-size: 3rem;
}

.navbar-nav {
  position: absolute;
  margin-left: 2.5rem;
  font-size: larger;
  font-weight: bolder;
}
.container {
  padding-top: 5%;
  padding-left: 10%;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.submit-container {
  padding-top: 5%;
  padding-left: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.popoverShowed {
  display: flex;
}

.drop {
  display: block;
}

.card {
  display: grid;
  min-width: 50rem;
  position: relative;
}

.carddd card {
  min-width: 400px;
}

.card-img-top {
  min-width: 200px;
  display: flex;
  position: relative;
  align-content: center;
}

.button1 btn btn-primary {
  position: relative;
}

.submit-container .drop {
  position: relative;
  width: 600px;
  height: 600px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 78% 22% 71% 29% / 36% 33% 67% 64%;
  padding-top: 2rem;
}

.submit-container .drop:hover {
  border-radius: 70%;
}

.container .drop .content {
  position: relative;
  display: flex;
  justify-content: center;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgCard {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 17vw;
  padding-left: 10vw;
  padding-bottom: 50vw;
  padding-right: 10vw;
  flex-wrap: wrap;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.glassContainer .glassCard {
  width: 20%;
  min-height: 20vh;
  display: flex;
}
.card-img-top {
  height: 15vw;
}

.loading {
  padding-top: 18vw;
  padding-right: -1vw;
  position: absolute;
}

#popover3Header {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
#failed {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

#emotionValue {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.saveBtn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.emoBtn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.emotionButton {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  margin: 10px;
  text-align: center;
}
.modalButton2 {
  padding: 8px 20px;
  margin-top: 20px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.modalButton2:hover {
  background-color: rgb(255, 243, 243);
  color: black;
}

.modalButton2:active {
  background-color: black;
  color: rgb(255, 243, 243);
}

.alert {
  margin: 10px;
  opacity: 100%;
  text-align: center;
  height: 4vw;
  width: 20vw;
  font-size: 20px;
}
body {
  margin: auto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gridBox {
  padding-top: 5%;
  padding-left: 10%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  z-index: 1;
}

.glassCard2 {
  margin: auto;
  position: relative;
  width: 280px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.cardPic {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTitle {
  text-align: center;
  color: rgb(72, 72, 72);
  font-size: 25px;
}

.buttonDiv {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.glassContainer .glassCard2 .cardBody button {
  position: relative;
  height: auto;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

@media (max-width: 874px) {
  body {
    overflow: auto;
  }
  .about-margin {
    padding-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
}
@media (min-width: 875px) {
  .about-margin {
    position: relative;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

.glassContainer .glassCard {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 25px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.glassContainer .glassCard .glassContent {
  padding: 20px;
  text-align: center;
}

.glassPic {
  width: 140px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: rgb(78, 78, 78) 5px 5px 15px;
}

.glassContainer .glassCard .glassContent h3 {
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  z-index: 1;
  margin: 0;
}

.glassContainer .glassBio {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.glassContainer .glassCard .glassContent button {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 5px;
  background-attachment: #fff;
  background-color: black;
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.glassContainer .glassCard .glassContent button:hover {
  background-color: rgb(255, 243, 243);
  color: black;
}

.glassContainer .glassCard .glassContent button:active {
  background-color: black;
  color: rgb(255, 243, 243);
}

.Tilt {
  background: none;
}

.modal {
  backdrop-filter: blur(20px);
  padding-top: 10rem;
}
.modal .modal-content {
  background: none;
  margin: 0 auto;
  width: 100%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3rem;
  overflow: hidden;
  color: aliceblue;
  font-size: 20px;
}

.modal .modalTitle {
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
}

.bioPic {
  display: flex;
  justify-content: center;
  height: 200px;
  margin: auto;
  right: 3rem;
  border-radius: 70%;
}

.iconDiv {
  display: flex;
  justify-content: space-around;
}

.socialIcon {
  width: 75px;
  transition: 0.2s;
}

.socialIcon:hover {
  opacity: 0.5;
}

.socialIcon:active {
  opacity: 1;
}

.modalButton {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background-attachment: #fff;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  color: rgb(255, 243, 243);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
}

.menu {
  background: none;
}

.cardContainer {
  margin-top: -6rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 500px;
  overflow: auto;
  left: -5px;
}
.cardContainer::-webkit-scrollbar {
  width: 20px;
}

.cardContainer::-webkit-scrollbar-track {
  background: none;
}

.cardContainer::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 5px;
}

.cardContainer::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
